
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
  --body:#22223b;
  --header: #10002b;
}

*{
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: var(--body);
}

.jumbotron{
    background-color:var(--header);
    color:#f0efeb;
}


.display-4 {
  text-align: center;
}

.lead{
    text-align: center;
}

.tab_area{
  margin-top: 50px;
}

.controls{
  margin-top: 25px;
  margin-bottom: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.controls button {
  margin: 10px;
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
}

.oi-plus{
  font-size: 15px;
  padding-left: 5px;
 
}

.errors_parse{
  width: 100%;
  background-color: darkgray;
  margin-bottom: 25px;
  
}
.tabContent > textarea{
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  border-color:#ccc;
  width: 100%;
  background-color: #161a1d;
  color:#e0fbfc;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}

#divEntrada{
  
  display: flex;
  align-items: center;
  justify-content: center;
}

